@using MicCRM.Models.LessonViewModels
@model IEnumerable<LessonInfoViewModel>
@{
    ViewData["Title"] = "AllLessons";
}
<h2 class="myh2">Lessons</h2>
<form asp-action="Add" asp-controller="Lesson" method="get">
    <button class="btn btn-default">Add</button>
</form>
<div class="limiter">
    <div class="container-table100">
        <div class="table100 ver2 m-b-110">
            <table data-vertable="ver2">
                <thead>
                    <tr class="row100 head">
                        <th class="column100 column2" data-column="column2">Technology</th>
                        <th class="column100 column3" data-column="column3">Teacher</th>
                        <th class="column100 column4" data-column="column4">StartingDate</th>
                        <th class="column100 column5" data-column="column5">EndingDate</th>
                        <th class="column100 column6" data-column="column6">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr class="row100">
                        <td style="width: auto" class="column100 column2" data-column="column2">@item.Technology</td>
                        <td class="column100 column3" data-column="column3">@item.Teacher</td>
                        <td class="column100 column4" data-column="column4">@item.StartingDate.ToShortDateString()</td>
                        <td class="column100 column5" data-column="column5">@item.EndingDate.ToShortDateString()</td>
                        <td class="column100 column6" data-column="column6">
                            <a href="#">Edit</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>