@*@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>*@

<div style="padding:20px">
    <img height="auto" width="100%" src="~/images/mic.jpg" alt="Alternate Text"/>   
</div>
<div style="padding:20px">
    <p class="p">  
    Microsoft Innovation Center Armenia, jointly established by USAID, Microsoft Corporation and EIF in 2011, is an innovative and effective approach to build core competencies in business and soft skills in technology among a growing number of small and medium IT companies.
    We initiate various targeted projects and activities, which include training programs and coding bootcamps, aimed at development of qualified workforce, programs, targeted at teams and startups to support the  development of innovative IT products in various spheres. 
    </p>
</div>
<div>
    <h1>Our Team</h1>
    <div class="col-md-4 text-center">
        <img src="~/images/Artashes.jpg" alt="..." class="img-circle responsive">
        <h2>Artashes Vardanyan</h2>
        <p class="p">ՇԵՖ</p>
    </div>
    <div class="col-md-4 text-center">
        <img src="~/images/Misha.jpg" alt="..." class="img-circle responsive">
        <h2>Misha Zakaryan</h2>
        <p class="p">Team Lead</p>
    </div>
    <div class="col-md-4 text-center">
        <img src="~/images/Onik.jpg" alt="..." class="img-circle responsive">
        <h2>Onik Asoyan</h2>
        <p class="p">Product Owner</p>
    </div>
    <div class="col-md-4 text-center">
        <img src="~/images/Garik.jpg" alt="..." class="img-circle responsive">
        <h2>Garik Hambaryan</h2>
        <p class="p">Full Stack .Net Developer</p>
    </div>
    <div class="col-md-4 text-center">
        <img src="~/images/Vahram.jpg" alt="..." class="img-circle responsive">
        <h2>Vahram Ayvazyan</h2>
        <p class="p">Full Stack .Net Developer</p>
    </div>
    <div class="col-md-4 text-center">
        <img src="~/images/Suren.jpg" alt="..." class="img-circle responsive">
        <h2>Suren Avagyan</h2>
        <p class="p">Full Stack .Net Developer</p>
    </div>

</div>