@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="UploadExcel" asp-controller="File" method="get">
        <div class="form-group">
            <button class="btn btn-default form-group">
                <img style="height:40px" src="~/images/icons/excel.png" alt="excel" />
            </button>
        </div>
</form>
